<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wym.dao.PaymentDao" >
    <resultMap id="BaseResultMap" type="com.wym.pojo.Payment" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="serial" property="serial" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, serial
  </sql>
    <select id="queryPayment" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from payment
    </select>
    <select id="getPaymentById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from payment
        where id = #{id,jdbcType=BIGINT}
    </select>
<!--    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >-->
<!--    delete from t_user-->
<!--    where pk_user = #{pkUser,jdbcType=VARCHAR}-->
<!--  </delete>-->
    <insert id="create" parameterType="com.wym.pojo.Payment" useGeneratedKeys="true" keyProperty="id">
    insert into payment (serial)
    values (#{serial,jdbcType=VARCHAR});
    </insert>
<!--    <insert id="create" parameterType="com.wym.pojo.Payment" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into payment-->
<!--        <trim prefix="(" suffix=")" suffixOverrides="," >-->
<!--            <if test="id != null" >-->
<!--                id,-->
<!--            </if>-->
<!--            <if test="serial != null" >-->
<!--                serial,-->
<!--            </if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides="," >-->
<!--            <if test="id != null" >-->
<!--                #{id,jdbcType=LONG},-->
<!--            </if>-->
<!--            <if test="serial != null" >-->
<!--                #{serial,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--        </trim>-->
<!--    </insert>-->
    <update id="updateByPrimaryKeySelective" parameterType="com.wym.pojo.Payment" useGeneratedKeys="true">
        update payment
        <set >
            <if test="serial != null" >
                serial = #{serial,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
<!--    <update id="updateByPrimaryKey" parameterType="com.wym.pojo.Payment" >-->
<!--    update payment-->
<!--    set serial = #{serial,jdbcType=VARCHAR}-->
<!--    where id = #{id,jdbcType=LONG}-->
<!--  </update>-->
</mapper>